**Duomenų analizė (su PANDAS)**

Pandas dirba su duomenų paketais (DataFrame)
Duomenų paketus galima susikurti iš (ir išsaugoti į):


*   Žodynų
*   Excel failų
*   .csv failų
*   Pickle failų
*   Duomenų bazių
*   ...

**Kaip susikurti DataFrame iš tekstinio (csv) failo:**

In [0]:
import pandas as pd

df = pd.read_csv('countries.csv', delimiter='\t')

print(df)

**Kaip susikurti DataFrame iš duomenų bazės:**

In [0]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///darbuotojai3.db')
df = pd.read_sql_table("DARBUOTOJAS", engine)

df

**Kaip sukurti Pandas duomenų paketą (DataFrame) iš žodyno:**

In [0]:
import pandas as pd
orai = {
'data': ['7/1/2019', '7/2/2019',
'7/3/2019','7/4/2019','7/5/2019'],
'temperatura': [32, 35, 28, 24, 22],
'vejas': [6,7,2,4,5],
'oras': ['Lietus', 'Saulėta',
'Saulėta','Saulėta','Debesuota']
}

df = pd.DataFrame(orai)
df

**Kaip atspausdinti lentelės stulpelio max, min, vidurkį:**

In [0]:
print(df['temperatura'].max())
print(df['temperatura'].min())
print(df['temperatura'].mean())

**Kaip gauti lentelės dydį:**

In [0]:
print(df.shape)
rows, columns = df.shape
print(rows)
print(columns)

**Kaip atspausdinti dalį lentelės:**

Pirmos penkios eilutės:

In [0]:
df.head()

Pirmos dvi eilutės:

In [0]:
df.head(2)

Paskutinė eilutė:

In [0]:
df.tail(1)

Nuo 1 iki 3 eilutės:

In [0]:
df[1:3]

Nuo 3 iki paskutinės eilutės:

In [0]:
df[2:]

**Kaip atspausdinti norimą elementą:**

In [0]:
df.iloc[2]

In [0]:
df.iloc[2:4]

**Kaip atspausdinti konkrečią vietą pagal koordinates:**

In [0]:
df.iloc[3,1]

**Kaip atspausdinti stulpelių pavadinimus:**

In [0]:
print(df.columns)

**Kaip atspausdinti konkretų (-ius) stulpelį (-ius):**

In [0]:
df.data

In [0]:
df[['data', 'temperatura']]

In [0]:
df.data[3:5]

**Kaip iteruoti per visą DataFrame'ą:**

In [0]:
for index, row in df.iterrows():
  print(index, row)

**Kaip filtruoti duomenis DataFrame’e:**

In [0]:
df.loc[df['temperatura'] > 22]

**Kaip surūšiuoti duomenis:**

In [0]:
df.sort_values('temperatura', ascending=False)

**Kaip ieškoti pagal stringo dalį:**

In [0]:
df.loc[df['oras'].str.contains('Saulė')]

**Kaip grupuoti duomenis:**

Galima naudoti funkcijas count, sum, min, max, mean

Darbuotojai sugrupuoti pagal pareigas, surūšiuota pagal daugiausiai
išdirbančių darbuotojų vidurkius:

In [0]:
df.groupby(['oras']).mean().sort_values('temperatura',
ascending=False)

In [0]:
df.groupby(['oras']).count()['data']

**Kaip atspausdinti lentelės ataskaitą:**

In [0]:
df.describe()

**Kaip eksportuoti DataFrame į Excel arba tekstinį failą:**

In [0]:
df.to_excel('modifikuotas.xlsx', index=False)

In [0]:
df.to_csv('modifikuotas.txt', index=False, sep='\t')

**Grafikų atvaizdavimas (Matplotlib):**

**Kaip suformuoti grafiką iš sąrašų:**

In [0]:
from matplotlib import pyplot as plt

metai = [1978, 1988, 1998, 2008, 2018]
temperatura = [5.8, 5.9, 6.2, 6.9, 7.2]

plt.plot(metai, temperatura)
plt.show()

**Kaip apipavidalinti grafiką:**

In [0]:
from matplotlib import pyplot as plt

metai = [1978, 1988, 1998, 2008, 2018]
temperatura = [5.8, 5.9, 6.2, 6.9, 7.2]

plt.title("Vidutinė temperatūra")
plt.xlabel("Metai")
plt.ylabel("Laipsniai (Celcijaus)")

plt.plot(metai, temperatura)
plt.show()

**Kaip pridėti papildomą kreivę:**

In [0]:
from matplotlib import pyplot as plt

metai = [1978, 1988, 1998, 2008, 2018]
temperatura = [5.8, 5.9, 6.2, 6.9, 7.2]
ispanija = [15.8, 15.9, 16.2, 16.9, 17.2]

plt.title("Vidutinė temperatūra")
plt.xlabel("Metai")
plt.ylabel("Laipsniai (Celcijaus)")

plt.plot(metai, temperatura)
plt.plot(metai, ispanija)
plt.show()

**Kaip įvardinti kreives:**

In [0]:
from matplotlib import pyplot as plt

metai = [1978, 1988, 1998, 2008, 2018]
temperatura = [5.8, 5.9, 6.2, 6.9, 7.2]
ispanija = [15.8, 15.9, 16.2, 16.9, 17.2]

plt.title("Vidutinė temperatūra")
plt.xlabel("Metai")
plt.ylabel("Laipsniai (Celcijaus)")

plt.plot(metai, temperatura)
plt.plot(metai, ispanija)
plt.legend(["Vilnius", "Ispanija"])
plt.show()

**Kaip atspausdinti grafiką iš Pandas duomenų paketo:**

In [0]:
import pandas as pd
from matplotlib import pyplot as plt

orai = {
'data': ['7/1/2019', '7/2/2019',
'7/3/2019','7/4/2019','7/5/2019'],
'temperatura': [32, 35, 28, 24, 22],
'vejas': [6,7,2,4,5],
'oras': ['Lietus', 'Saulėta',
'Saulėta','Saulėta','Debesuota']}

df = pd.DataFrame(orai)

plt.plot(df.data, df.temperatura)
plt.show()

**Kitokio tipo grafikas:**

In [0]:
plt.plot(df.data, df.temperatura, "o")

**Kaip atspausdinti grafiką iš atrinkto duomenų paketo:**

In [0]:
import pandas as pd

data = pd.read_csv('countries.csv')

data

In [0]:
import pandas as pd
from matplotlib import pyplot as plt

data = pd.read_csv('countries.csv')
# iš https://www.csdojo.io/data

us = data[data.country == 'United States']
china = data[data.country == 'China']

plt.plot(us.year, us.population / 10**6)
plt.plot(china.year, china.population / 10**6)
plt.legend(['JAV', 'Kinija'])
plt.xlabel('Metai')
plt.ylabel('Populiacija (mln.)')
plt.show()

In [0]:
import pandas as pd
from matplotlib import pyplot as plt

data = pd.read_csv('countries.csv')

us = data[data.country == 'United States']
china = data[data.country == 'China']

plt.plot(us.year, us.population/us.population.iloc[0] * 100)
plt.plot(china.year, china.population/
china.population.iloc[0] * 100)
plt.legend(['USA', 'China'])
plt.xlabel('Metai')
plt.ylabel('Populiacijos kilimas (pirmi metai = 100 proc.)')
plt.show()

**Užduotys:**

1 užduotis

1.   Parsisiųsti countries.csv failą iš https://www.csdojo.io/data
2.   Susikurti iš jo duomenų paketą (Pandas DataFrame)
3.   Atspausdinti tik metų stulpelį
4.   Atspausdinti norimos šalies didžiausius/mažiausius/vidutinius gyventojų kiekius
5.   Atspausdinti bendrą lentelės ataskaitą
6.   Grafike atvaizduoti kelių skirtingų šalių populiacijos pokytį per metus
7.   Padaryti, kad grafikas turėtų pavadinimą, būtų įvardintos x/y ašys bei kreivės

2 užduotis:

Į Pandas DataFrame įdėkite duomenų bazę darbuotojai3.db ir savo nuožiūra išbandykite šioje paskaitoje pateiktas Pandas galimybes.